
.App {
  text-align:center ;
}

#menuDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */ 
  column-gap: 150px; /* Horizontal spacing */
  row-gap: 40px; /* Vertical spacing, adjust as needed */
  width: 70%;
  margin: 0 auto; /* Centering the container */
}


.menuItem{
  border: solid 1px grey;
  border-radius: 10px;
}

.menuItem hr{
  width: 80%;
  border:  0.1% grey;
  opacity:40%;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
