/* Removes the default list styling and pads the ul */
.headerBox {
    list-style: none; /* Removes bullet points */
    padding-bottom: 10px; /* Removes default padding */
    margin: 0; /* Removes default margin */
    display: flex; /* Aligns list items horizontally */
    justify-content: center; /* Centers list items horizontally */
    align-items: center; /* Centers list items vertically (if needed) */
  }
  
  /* Styles for each list item */
  .li {
    margin: 0 10px; /* Adds space between items; adjust as needed */
  }
  
  /* Styles for NavLink components */
  .navs {
    text-decoration: none; /* Removes underline from links */
    color: #000; /* Sets text color; adjust as needed */
    font-size: 16px; /* Adjusts font size; change as desired */
    transition: 0.3s ease;

  }

  .navs:hover{
    font-weight: bold;
}
  
  /* Optional: Style for the container holding the title for additional alignment */
  .h1 {
    text-align: center; /* Centers the title */
  }

  